body {
  text-align: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  letter-spacing: .2em;
  padding-top: 10%;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  position: relative;
  background-color: #5a8b4e;
  padding: 8px;
  width: 40px;
  height: 20px;
  color: #fff;
  border-radius: 999px;
}

button .buttonSurcle {
  position: absolute;
  left: 0;
  top: -1px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #b1b1b1;
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
  -webkit-transition: 2s;
  transition: 2s;
}

.top {
  padding-top: 100px;
}

.miniSurcle {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.surcle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #333;
  margin: 0 auto;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-bottom: 24px;
  position: relative;
}

.surcle span {
  width: 10px;
  height: 2px;
  background-color: #333;
  position: absolute;
  top: -5px;
  left: 5px;
  -webkit-transform-origin: 10px 20px;
          transform-origin: 10px 20px;
  opacity: 1;
  -webkit-transition: 2s;
  transition: 2s;
}

.surcle span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.surcle span:nth-child(2) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.surcle span:nth-child(3) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.surcle span:nth-child(4) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.surcle span:nth-child(5) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.surcle span:nth-child(6) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.surcle span:nth-child(7) {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.surcle span:nth-child(8) {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.surcle span:nth-child(9) {
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

.color {
  background-color: #333;
  color: #fff;
  height: 100vh;
  width: 100%;
  margin: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

.color .buttonSurcle {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: 2s;
  transition: 2s;
}

.color .surcle {
  background-color: #fff;
  -webkit-transition: 2s;
  transition: 2s;
}

.color .surcle .miniSurcle {
  opacity: 1;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.color .surcle span {
  opacity: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  background-color: #fff;
  -webkit-transition: 2s;
  transition: 2s;
}

h1 {
  text-align: center;
}

p {
  margin-bottom: 24px;
}

input {
  width: 100px;
  height: 24px;
  padding: 4px;
  font-size: 24px;
  margin-right: 4px;
}

.btn {
  height: 30px;
  width: 100px;
  background-color: #49be88;
  line-height: 30px;
  border-radius: 16px;
}

.inp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.result {
  margin: 0;
  width: 172px;
  display: inline-block;
  background-color: #a2d3a8;
  padding: 64px;
  border-radius: 16px;
  font-size: 32px;
}
/*# sourceMappingURL=style.css.map */